[submodule "themes/stack"]
	path = themes/stack
	url = git@github.com:CaiJimmy/hugo-theme-stack.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/flysnow-org/maupassant-hugo
